GLFW_ICON ICON "icon.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    //BLOCK "080904E4"  // English UK
    BLOCK "040904E4"    // English US
    BEGIN
      //VALUE "CompanyName", "Let's Make Games"
      VALUE "FileDescription", "A game made to learn"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "DapperDasher"
      VALUE "LegalCopyright", "(c) 2025 Let's Make Games LLC, Jessica Alder"
      //VALUE "OriginalFilename", "raylib_app"
      VALUE "ProductName", "Dapper Dasher"
      VALUE "ProductVersion", "1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    //VALUE "Translation", 0x809, 1252  // English UK
    VALUE "Translation", 0x409, 1252    // English US
  END
END
